<span style="height: 6em; text-transform: capitalize;">
    {{PostalName}}<br />
    {{AddressLine1}}<br />
    {{AddressLine2}}<br />
    {{AddressLine3}}<br />
    {{AddressLine4}}<br />
    <span style="text-transform: uppercase;">
        {{PostCode}}
    </span>
</span>