@model PartsList

@{
    ViewBag.Title = "Update Parts List";
}

<h2>Update parts list</h2>

@using (Html.BeginForm(
    nameof(PartsListsController.AddPartsList),
    typeof(PartsListsController).ControllerName(),
    FormMethod.Post))
{
    <div class="input-group mb-3">
        <span class="input-group-text">@Html.LabelFor(Model => Model.Title)</span>
    
        @Html.EditorFor(Model => Model.Title,
            new { htmlAttributes = new { @class = "form-control" } })
    </div>
                    
    <div class="input-group mb-3">
        <span class="input-group-text">@Html.LabelFor(Model => Model.ProductGroup)</span>

        <datalist id="ProductGroupList">
            @foreach (var ProductGroup in (IEnumerable<SelectListItem>)ViewBag.ProductGroupOptions)
            {
                if (ProductGroup.Value == Model.ProductGroup)
                {
                    <option selected>@ProductGroup.Text</option>
                }
                else
                {
                    <option>@ProductGroup.Text</option>
                }
            }
        </datalist>
    
        @Html.EditorFor(Model => Model.ProductGroup,
            new { htmlAttributes = new { @class = "form-control", list = "ProductGroupList" } })
    </div>

    <input type="submit" class="btn btn-success " value="Update Parts List" />
}

<hr />
<h4>Cat numbers</h4>

@Html.ActionLink(
    "Add Cat",
    nameof(PartsListsController.AddCat),
    typeof(PartsListsController).ControllerName(),
    new { PLHID = Model.Plhid },
    new { @class = "btn btn-success" } 
)
<hr />

<table class="table table-bordered table-repsonsive table-hover table-striped">
    <tr>
        <th>Cat Number</th>
        <th>Description</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var Cat in Model.PartsListCats)
    {
        <tr>
            <td>@Html.DisplayFor(Model => Cat.CatNumber)</td>
            <td>@Html.DisplayFor(Model => Cat.Description)</td>

            <td>
                @Html.ActionLink(
                    "Edit", 
                    nameof(PartsListsController.EditCat), 
                    typeof(PartsListsController).ControllerName(),
                    new { PLHID = Cat.Plhid, CATID = Cat.Catid },
                    new { @class = "btn btn-success" } 
                )
            </td>
            <td>
                @using (Html.BeginForm(
                    nameof(PartsListsController.RemoveCat),
                    typeof(PartsListsController).ControllerName(),
                    new { PLHID = Cat.Plhid, CATID = Cat.Catid },
                    FormMethod.Post))
                {
                    <button class="btn btn-danger">Delete</button>
                }
            </td>
        </tr>
    }
</table>

<hr />
<h4>Parts</h4>

@Html.ActionLink(
    "Add part",
    nameof(PartsListsController.AddPart),
    typeof(PartsListsController).ControllerName(),
    new { PLHID = Model.Plhid },
    new { @class = "btn btn-success" } 
)
<hr />

<table class="table table-bordered table-repsonsive table-hover table-striped" id="sortTable">
    <thead>
        <tr>
            <th>Item Number</th>
            <th>Part Number</th>
            <th>Description</th>
            <th>Mandatory</th>
            <th>Qty</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Part in Model.PartsListItems)
        {
            <tr>
                <td>@Html.DisplayFor(Model => Part.ItemNumber)</td>
                <td>@Html.DisplayFor(Model => Part.PartNumber)</td>
                <td>@Html.DisplayFor(Model => Part.Description)</td>
                <td>@Html.DisplayFor(Model => Part.Mandatory)</td>
                <td>@Html.DisplayFor(Model => Part.Qty)</td>

                <td>
                    @Html.ActionLink(
                        "Edit", 
                        nameof(PartsListsController.UpdatePart), 
                        typeof(PartsListsController).ControllerName(),
                        new { PLHID = Part.Plhid, PLDID = Part.Pldid },
                        new { @class = "btn btn-success" } 
                    )
                </td>
                <td>
                    @using (Html.BeginForm(
                        nameof(PartsListsController.DeletePart),
                        typeof(PartsListsController).ControllerName(),
                        new { PLHID = Part.Plhid, PLDID = Part.Pldid },
                        FormMethod.Post))
                    {
                        <button class="btn btn-danger">Delete</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $('#sortTable').DataTable();
</script>